.footer {
  display: flex;
  padding: 2rem 1rem;

  span {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .items-center {
    justify-content: center;
    align-items: center;
  }
}

.heart-wrapper {
  animation: pulse 1s infinite;

  #pulsing-heart {
    position: relative;
    width: 20px;
    height: 18px;
  }
}

#pulsing-heart:before,
#pulsing-heart:after {
  position: absolute;
  content: "";
  left: 10px;
  top: 0;
  width: 10px;
  height: 16px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsing-heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1)
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000
  }
}
