<footer class="footer bg-base-100">
  <span class="items-left">
    <p>Copyright © {{ currentYear }} - All right reserved</p>
  </span>
  <span class="items-center">
    Designed with
    <div class="heart-wrapper"><div id="pulsing-heart"></div></div>
    by<a href="https://www.linkedin.com/in/jigar-sable"> Bernie Belcher</a>
  </span>
  <span></span>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://www.linkedin.com/in/bernie-belcher/" target="_blank">
      <img src="./assets/svg/logo/linkedin.svg" alt="LinkedIn" />
      <img src="./assets/svg/logo/linkedin-color.svg" alt="LinkedIn" />
    </a>
  </nav>
</footer>
