<h1>About</h1>
<div class="content">
  <div class="memoji">
    <img src="./assets/img/memoji.png" />
  </div>
  <div>
    <span class="pb-4">
      Front-End UX Developer with 2+ years of experience and the ability to collaborate
      closely with team members. Passion for web development and creating user interfaces. I enjoy
      finding creative solutions through technology and design, while maintaining superb
      quality that fits the needs of both the client and users.
    </span>

    <ul class="dev-logos">
      <li class="html">
        <img src="./assets/svg/logo/html-5.svg">
        <img src="./assets/svg/logo/html-5-color.svg">
      </li>
      <li class="css">
        <img src="./assets/svg/logo/css-3.svg">
        <img src="./assets/svg/logo/css-3-color.svg">
      </li>
      <li class="sass">
        <img src="./assets/svg/logo/sass.svg">
        <img src="./assets/svg/logo/sass-color.svg">
      </li>
      <li class="angular">
        <img src="./assets/svg/logo/angular.svg">
        <img src="./assets/svg/logo/angular-color.svg">
      </li>
      <li class="typescript">
        <img src="./assets/svg/logo/typescript.svg">
        <img src="./assets/svg/logo/typescript-color.svg">
      </li>
      <li class="javascript">
        <img src="./assets/svg/logo/javascript.svg">
        <img src="./assets/svg/logo/javascript-color.svg">
      </li>
      <li class="npm">
        <img src="./assets/svg/logo/npm.svg">
        <img src="./assets/svg/logo/npm-color.svg">
      </li>
      <li class="git">
        <img src="./assets/svg/logo/git.svg">
        <img src="./assets/svg/logo/git-color.svg">
      </li>
      <li class="aws">
        <img src="./assets/svg/logo/amazon-web-services.svg">
        <img src="./assets/svg/logo/amazon-web-services-color.svg">
      </li>
    </ul>
  </div>
</div>

