.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;

  div:last-of-type {
    width: 70%;
  }

  span {
    display: flex;
    text-align: left;
    font-size: 32px;
  }
}

.memoji {
  width: 20%;
  padding: 20px;

  img {
    width: 100%;
  }
}

ul.dev-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 14px;
      font-weight: 600;
      color: #445D72;
    }

    img{
      width: 74px;

      &:not(:first-of-type) {
        display: none;
      }
    }

    &:hover span {
      color: #faebd7;
    }

    &:hover img {
      display: none;

      &:not(:first-of-type) {
        display: block;
      }
    }
  }
}

