<h1>About</h1>
<div class="content">
  <div class="memoji">
    <img src="./assets/img/memoji.png" alt="memoji" />
  </div>
  <div>
    <span class="pb-8">
      Innovative and detail-oriented with rich experience in creating visually appealing digital experiences.
      Proficient in delivering high-quality products by leading cross-functional teams.
      Skilled at conducting user research, implementing testing processes, and analyzing data to inform design decisions.
      Adept at translating customer insights into effective design solutions and attaining complete client satisfaction.
      Equipped with strong problem-solving, communication, leadership, and interpersonal skills.
    </span>

    <ul class="dev-logos">
      <li class="html">
        <img src="./assets/svg/logo/html-5.svg" alt="html 5" />
        <img src="./assets/svg/logo/html-5-color.svg" alt="html 5" />
        <span>html-5</span>
      </li>
      <li class="css">
        <img src="./assets/svg/logo/css-3.svg" alt="css 3" />
        <img src="./assets/svg/logo/css-3-color.svg" alt="css 3" />
        <span>css3</span>
      </li>
      <li class="sass">
        <img src="./assets/svg/logo/sass.svg" alt="sass" />
        <img src="./assets/svg/logo/sass-color.svg" alt="sass" />
        <span>sass</span>
      </li>
      <li class="angular">
        <img src="./assets/svg/logo/angular.svg" alt="angular" />
        <img src="./assets/svg/logo/angular-color.svg" alt="angular" />
        <span>angular</span>
      </li>
      <li class="react">
        <img src="./assets/svg/logo/react.svg" alt="react" />
        <img src="./assets/svg/logo/react-color.svg" alt="react" />
        <span>react</span>
      </li>
      <li class="typescript">
        <img src="./assets/svg/logo/typescript.svg" alt="typescript" />
        <img src="./assets/svg/logo/typescript-color.svg" alt="typescript" />
        <span>typescript</span>
      </li>
      <li class="javascript">
        <img src="./assets/svg/logo/javascript.svg" alt="javascript" />
        <img src="./assets/svg/logo/javascript-color.svg" alt="javascript" />
        <span>javascript</span>
      </li>
      <li class="npm">
        <img src="./assets/svg/logo/npm.svg" alt="npm" />
        <img src="./assets/svg/logo/npm-color.svg" alt="npm" />
        <span>npm</span>
      </li>
      <li class="aws">
        <img src="./assets/svg/logo/amazon-web-services.svg" alt="aws" />
        <img src="./assets/svg/logo/amazon-web-services-color.svg" alt="aws" />
        <span>aws</span>
      </li>
      <li class="azure">
        <img src="./assets/svg/logo/azure.svg" alt="azure" />
        <img src="./assets/svg/logo/azure-color.svg" alt="azure" />
        <span>azure</span>
      </li>
    </ul>
  </div>
</div>

