<div class="pb-16">
  <h1>BERNIE BELCHER</h1>
  <h3 class="span loader">
    <span class="m">U</span>
    <span class="m">X</span>
    <span class="m">&nbsp;</span>
    <span class="m">D</span>
    <span class="m">e</span>
    <span class="m">s</span>
    <span class="m">i</span>
    <span class="m">g</span>
    <span class="m">n</span>
    <span class="m">e</span>
    <span class="m">r</span>
    <span class="m">/</span>
    <span class="m">D</span>
    <span class="m">e</span>
    <span class="m">v</span>
    <span class="m">e</span>
    <span class="m">l</span>
    <span class="m">o</span>
    <span class="m">p</span>
    <span class="m">e</span>
    <span class="m">r</span>
  </h3>
</div>
