<div class="navbar bg-base-100 z-50v">
  <div class="navbar-start">
    <a class="btn btn-ghost text-2xl" [ngxScrollTo]="'#section-hero'">Bernie Belcher</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="px-4"><a class="btn btn-ghost text-2xl" [ngxScrollTo]="'#section-about'">About</a></li>
      <li class="px-4"><a class="btn btn-ghost text-2xl" [ngxScrollTo]="'#section-projects'">Projects</a></li>
      <li class="px-4"><a class="btn btn-ghost text-2xl">Contact</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="social-logos">
      <li class="linkedin">
        <a href="https://www.linkedin.com/in/bernie-belcher/" target="_blank">
          <img src="./assets/svg/logo/linkedin.svg">
          <img src="./assets/svg/logo/linkedin-color.svg">
        </a>
      </li>
    </ul>
  </div>
</div>
