.social-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin-right: 20px;

  li {
    display: flex;

    img {
      width: 34px;

      &:not(:first-of-type) {
        display: none;
      }
    }

    &:hover img {
      display: none;

      &:not(:first-of-type) {
        display: block;
      }
    }
  }

  a {
    display: flex;
  }

  .material-symbols-outlined {
    font-size: 34px;
    color: #445d72;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }
  }
}
