<h1>Experience</h1>
<div class="content pt-2">
  <a href="../../assets/files/Bernie-Belcher-Resume.pdf" download="Bernie-Belcher-Resume">
    <button class="bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-400 hover:border-transparent rounded inline-flex items-center">
      <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
      <span>Download Resume</span>
    </button>
  </a>
  <ol class="relative border-s border-gray-200 dark:border-gray-700 mt-8">
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </span>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        User Experience Designer
        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3">Latest</span>
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Mar 2022 - Present</time>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        AgileSRC
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Lead full cycle design and development process of 4+ applications, resulting in improving process efficiency. Implement rigorous testing procedures and utilize Karma to troubleshoot bugs in Angular
        components/layouts and enhance code quality. Engage in Agile teamwork, such as daily stand-ups and weekly one-hour sprint planning and client demo sessions, contributing to streamlined communication
        and optimized project visibility.
      </p>
      <app-badge-component [value]="'Angular'"></app-badge-component>
      <app-badge-component [value]="'React'"></app-badge-component>
      <app-badge-component [value]="'AWS'"></app-badge-component>
      <app-badge-component [value]="'Figma'"></app-badge-component>
    </li>
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </span>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        CAD Rendering Designer and Marketing
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 2012 - May 2022</time>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        JMB Architects
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Generated 2-D and 3-D models through utilization of AutoCAD and Impressions 3 software, leading to enhancing visualization and design accuracy. Initiated client communication channels to identify
        problems and points of failure and offered effective solutions, resulting in attaining 100% client satisfaction.
      </p>
      <app-badge-component [value]="'Auto Desk'"></app-badge-component>
      <app-badge-component [value]="'JavaScript'"></app-badge-component>
    </li>
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </span>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        User Experience Designer
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jul 2021 - Feb 2022</time>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        Lodge Lovers
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Developed and executed content strategies to align with company goals and increase customer engagement. Crafted and rolled out novel webpages, ensuring excellent user experience across a wide range of devices.
        Conducted competitive analysis to identify strengths and weaknesses of competitor platforms and inform design improvements.
      </p>
      <app-badge-component [value]="'HTML'"></app-badge-component>
      <app-badge-component [value]="'CSS'"></app-badge-component>
      <app-badge-component [value]="'Figma'"></app-badge-component>
    </li>
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </span>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        User Experience Intern
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 2019 - May 2019</time>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        The Radisson
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Identified underlying issues while researching user data. Presented Microsoft excel forms that organized collections of data. Implement new strategies to ensure custom experiences for each guest.
      </p>
      <app-badge-component [value]="'User Research'"></app-badge-component>
    </li>
  </ol>
</div>
