<app-navbar-component class="navbar"></app-navbar-component>

<app-hero-component class="hero"></app-hero-component>

<div id="background-particles" class="particle-background"></div>

<main class="main">
  <app-about-component class="section" id="section-about"></app-about-component>

  <!-- <app-experience-component class="section" id="section-experience"></app-experience-component> -->

  <app-projects-component class="section" id="section-projects"></app-projects-component>

  <!-- <app-contact-component class="section" id="section-contact"></app-contact-component> -->
</main>

<app-footer-component class="" id="section-footer"></app-footer-component>
