<div class="navbar bg-base-100">
  <a class="btn btn-ghost text-xl">daisyUI</a>
</div>

<app-hero-component class="nav"></app-hero-component>

<div id="background-particles" class="particle-background"></div>

<main class="main">
  <!-- <app-about-component class="slider" id="tab-about"></app-about-component>

  <app-experience-component class="slider" id="tab-experience"></app-experience-component>

  <app-projects-component class="slider" id="tab-projects"></app-projects-component>

  <app-contact-component class="slider" id="tab-contact"></app-contact-component>

  <app-social-icons-component class="social-icons"></app-social-icons-component> -->
</main>
