.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; /* Adjust padding as needed */
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-items {
  flex: 1;
  display: flex;
  gap: 1rem; /* Space between links */
  justify-content: flex-start;
  align-items: center;
}

.center-items {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
}

.right-items {
  flex: 1;
  display: flex;
  gap: 1rem; /* Space between links */
  justify-content: flex-end;
  align-items: center;
}

.heart-wrapper {
  animation: pulse 1s infinite;

  #pulsing-heart {
    position: relative;
    width: 20px;
    height: 18px;
  }
}

#pulsing-heart:before,
#pulsing-heart:after {
  position: absolute;
  content: '';
  left: 10px;
  top: 0;
  width: 10px;
  height: 16px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsing-heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000;
  }
}

.right-items a {
  display: flex;

  img {
    width: 26px;

    &:not(:first-of-type) {
      display: none;
    }
  }

  &:hover img {
    display: none;

    &:not(:first-of-type) {
      display: block;
    }
  }

  .material-symbols-outlined {
    font-size: 26px;
    color: #445d72;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }
  }
}
