.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.project-grid {
  margin: 0px auto 6rem;
  display: grid;
  max-width: calc(1280px + 2rem);
  padding: 0px 1rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  .project {
    margin: 0px auto;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
    position: relative;

    .project-wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      position: relative;
      width: 100%;
      height: auto;
      overflow: hidden;

      .project-img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        border-radius: 0.8rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        overflow: hidden;

        img {
          max-height: 250px;
        }
      }

      .project-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: 0rem 1rem;
        color: #0a001b;
        background: #fafeff;
        box-shadow: #fafeff 0px 20px 4rem 6rem;

        .project-title {
          font-size: 22px;
          line-height: 1;
        }

        .project-parragraph {
          margin-bottom: 3.5rem;
          text-align: left;
        }
      }
    }

    .project-buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.5rem;
      position: absolute;
      bottom: 0px;
      padding: 1rem;

      .project-button a {
        display: flex;
        align-items: center;
        color: #000000;

        .material-symbols-outlined {
          font-size: 28px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .project-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0;
  }

  .project-grid .project {
    padding: 0.75rem;
  }

  .project-grid .project .project-wrap .project-text .project-title {
    font-size: 18px;
  }

  .project-grid .project .project-wrap .project-text .project-parragraph {
    font-size: 14px;
  }
}
