<h1>Projects</h1>
<div class="content">
  <div class="project-grid">
    <!-- Project 1 -->
    <div class="project">
      <div class="project-wrap">
        <div class="project-img">
          <img src="assets/img/portfolio/jmb-website.png" />
        </div>
        <div class="project-text">
          <span class="project-title">JMB Architects Redesign</span>
          <p class="project-parragraph">
            JMB Architects' website was redesigned, replacing an outdated
            platform with a Squarespace site enhanced by custom HTML and CSS.
            This allowed the client to easily update content without relying on
            a developer. The process included wireframing, high-fidelity mockups
            in Figma, and user testing. Within two weeks of launch, the new site
            generated multiple inquiries and secured a new client.
          </p>
        </div>
      </div>
      <div class="project-buttons">
        <div class="project-button">
          <a
            href="https://www.jmbarchitect.com"
            target="_blank"
            aria-label="web"
          >
            <span class="material-symbols-outlined"> language </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="project">
      <div class="project-wrap">
        <div class="project-img">
          <img src="assets/img/portfolio/land-grant-goods.png" />
        </div>
        <div class="project-text">
          <span class="project-title">Content Stratagy</span>
          <p class="project-parragraph">
            Land Grant Goods, a student-run company producing honey, jam, and
            tea, needed a cohesive content strategy for promoting products and
            engaging with their audience. As part of a team of four UX
            designers, a comprehensive guide was created to ensure consistent
            messaging across all platforms. This document serves as a clear,
            accessible resource for current and future team members,
            streamlining communication and brand voice.
          </p>
        </div>
      </div>
      <div class="project-buttons">
        <div class="project-button">
          <a
            href="assets/files/Land-Grant-Goods.pdf"
            target="_blank"
            aria-label="web"
          >
            <span class="material-symbols-outlined"> article </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="project">
      <div class="project-wrap">
        <div class="project-img">
          <img src="assets/img/portfolio/city-mockup.png" />
        </div>
        <div class="project-text">
          <span class="project-title">City Redisign</span>
          <p class="project-parragraph">
            A redesign of Lansing, Michigan's city website aimed to improve its
            usability. The site, used for tasks like paying tickets and applying
            for permits, was difficult to navigate. The redesign involved
            analyzing other city websites, developing user flows, and creating
            wireframes and a style guide. Extensive research was conducted to
            ensure a more user-friendly experience.
          </p>
        </div>
      </div>
      <div class="project-buttons">
        <div class="project-button">
          <a
            href="assets/files/Lansing-Redesign.pdf"
            target="_blank"
            aria-label="web"
          >
            <span class="material-symbols-outlined"> article </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
