/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// Scrollbar //
// Firefox //
* {
  scrollbar-width: auto;
  scrollbar-color: #504099 #1E1F26;
}

// Chrome, Edge, and Safari //
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1E1F26;
}

*::-webkit-scrollbar-thumb {
  background-color: #504099;
  border-radius: 10px;
  border: 3px solid #1E1F26;
}
// End Scrollbar //

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "ROBOTO", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;

  &:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
  }
}

h2 {
  font-size: 2vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}
