/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// Scrollbar //
// Firefox //
* {
  scrollbar-width: auto;
  scrollbar-color: #504099 #1e1f26;
}

// Chrome, Edge, and Safari //
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1e1f26;
}

*::-webkit-scrollbar-thumb {
  background-color: #504099;
  border-radius: 10px;
  border: 3px solid #1e1f26;
}
// End Scrollbar //

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'ROBOTO', sans-serif;
  overflow-x: hidden;
}

html,
body {
  cursor: url('/assets/svg/cursor/network-cursor.svg') 4 4, auto;
}

a,
button,
[role='button'],
input,
select,
textarea,
label,
summary,
.project {
  cursor: url('/assets/svg/cursor/network-cursor-pointer.svg') 4 4, pointer !important;
}

a *,
button *,
[role='button'] *,
label *,
summary *,
.project * {
  cursor: url('/assets/svg/cursor/network-cursor-pointer.svg') 4 4, pointer !important;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: clamp(28px, 5vw, 64px);
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;

  &:hover {
    color: #ff0266;
  }
}

h2 {
  font-size: clamp(16px, 2.4vw, 28px);
  letter-spacing: 0.3rem;
  font-family: 'ROBOTO', sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}

@media (max-width: 640px) {
  h1 {
    letter-spacing: 0.2rem;
  }

  h2 {
    letter-spacing: 0.15rem;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  font-size: 34px;
}
