<div class="navbar bg-base-100 z-50v">
  <div class="navbar-start">
    <a class="btn btn-ghost text-2xl" (click)="scrollToSection('section-hero')"
      >Bernie Belcher</a
    >
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="px-4">
        <a
          class="btn btn-ghost text-2xl"
          (click)="scrollToSection('section-about')"
          >About</a
        >
      </li>
      <li class="px-4">
        <a
          class="btn btn-ghost text-2xl"
          (click)="scrollToSection('section-experience')"
          >Experience</a
        >
      </li>
      <li class="px-4">
        <a
          class="btn btn-ghost text-2xl"
          (click)="scrollToSection('section-projects')"
          >Projects</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="social-logos">
      <li class="linkedin">
        <a href="https://www.linkedin.com/in/bernie-belcher/" target="_blank">
          <img src="./assets/svg/logo/linkedin.svg" alt="LinkedIn" />
          <img src="./assets/svg/logo/linkedin-color.svg" alt="LinkedIn" />
        </a>
      </li>
      <li class="github">
        <a href="https://github.com/BurrKnee" target="_blank">
          <img src="./assets/svg/logo/github.svg" alt="Github" />
          <img src="./assets/svg/logo/github-color.svg" alt="Github" />
        </a>
      </li>
      <li>
        <a
          href="mailto:bernie.belcher@outlook.com?subject=Resume Referral"
          title="bernie.belcher@outlook.com"
        >
          <span class="material-symbols-outlined"> mail </span>
        </a>
      </li>
    </ul>
    <div class="dropdown dropdown-end lg:hidden">
      <label tabindex="0" class="btn btn-ghost ml-2">
        <span class="material-symbols-outlined">menu</span>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-2 z-[1] rounded-box bg-base-100 p-2 shadow right-0 mobile-menu"
      >
        <li>
          <a (click)="scrollToSection('section-about')">About</a>
        </li>
        <li>
          <a (click)="scrollToSection('section-experience')">Experience</a>
        </li>
        <li>
          <a (click)="scrollToSection('section-projects')">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</div>
