<h1>About</h1>
<div class="content">
  <div class="memoji">
    <img src="./assets/img/memoji.png" alt="memoji" />
  </div>
  <div>
    <span class="pb-8">
      Creative and detail-driven professional with extensive experience crafting
      visually compelling digital experiences. Expertise in leading
      cross-functional teams to deliver high-quality products that exceed client
      expectations. Skilled in conducting user research, and leveraging
      data-driven insights to inform and enhance design strategies. Passionate
      about transforming customer needs into innovative design solutions that
      achieve complete satisfaction.
    </span>

    <ul class="dev-logos">
      <li class="html">
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/html-5.svg" alt="HTML5" />
          <img src="./assets/svg/logo/html-5-color.svg" alt="HTML5" />
          <span>HTML5</span>
        </a>
      </li>
      <li class="css">
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/css-3.svg" alt="CSS3" />
          <img src="./assets/svg/logo/css-3-color.svg" alt="CSS3" />
          <span>CSS3</span>
        </a>
      </li>
      <li class="sass">
        <a
          href="https://sass-lang.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/sass.svg" alt="Sass" />
          <img src="./assets/svg/logo/sass-color.svg" alt="Sass" />
          <span>Sass</span>
        </a>
      </li>
      <li class="angular">
        <a href="https://angular.dev" target="_blank" rel="noopener noreferrer">
          <img src="./assets/svg/logo/angular.svg" alt="Angular" />
          <img src="./assets/svg/logo/angular-color.svg" alt="Angular" />
          <span>Angular</span>
        </a>
      </li>
      <li class="react">
        <a href="https://react.dev" target="_blank" rel="noopener noreferrer">
          <img src="./assets/svg/logo/react.svg" alt="React" />
          <img src="./assets/svg/logo/react-color.svg" alt="React" />
          <span>React</span>
        </a>
      </li>
      <li class="typescript">
        <a
          href="https://www.typescriptlang.org"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/typescript.svg" alt="TypeScript" />
          <img src="./assets/svg/logo/typescript-color.svg" alt="TypeScript" />
          <span>TypeScript</span>
        </a>
      </li>
      <li class="javascript">
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/javascript.svg" alt="JavaScript" />
          <img src="./assets/svg/logo/javascript-color.svg" alt="JavaScript" />
          <span>JavaScript</span>
        </a>
      </li>
      <li class="npm">
        <a
          href="https://www.npmjs.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/npm.svg" alt="npm" />
          <img src="./assets/svg/logo/npm-color.svg" alt="npm" />
          <span>npm</span>
        </a>
      </li>
      <li class="aws">
        <a
          href="https://aws.amazon.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/amazon-web-services.svg" alt="AWS" />
          <img
            src="./assets/svg/logo/amazon-web-services-color.svg"
            alt="AWS"
          />
          <span>AWS</span>
        </a>
      </li>
      <li class="azure">
        <a
          href="https://azure.microsoft.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/azure.svg" alt="Azure" />
          <img src="./assets/svg/logo/azure-color.svg" alt="Azure" />
          <span>Azure</span>
        </a>
      </li>
      <li class="mongodb">
        <a
          href="https://www.mongodb.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/mongo.svg" alt="MongoDB" />
          <img src="./assets/svg/logo/mongo-color.svg" alt="MongoDB" />
          <span>MongoDB</span>
        </a>
      </li>
      <li class="docker">
        <a
          href="https://www.docker.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./assets/svg/logo/docker.svg" alt="Docker" />
          <img src="./assets/svg/logo/docker-color.svg" alt="Docker" />
          <span>Docker</span>
        </a>
      </li>
    </ul>
  </div>
</div>
