.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  z-index: 10;

  div:last-of-type {
    width: 70%;
  }

  span {
    display: flex;
    text-align: left;
    font-size: 32px;
  }
}

.memoji {
  width: 20%;
  padding: 20px;
  margin-bottom: 60px;

  img {
    width: 100%;
  }
}

ul.dev-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    span {
      font-size: 14px;
      font-weight: 600;
      color: #445d72;
    }

    img {
      width: 74px;

      &:not(:first-of-type) {
        display: none;
      }
    }

    &:hover span {
      color: #faebd7;
    }

    &:hover img {
      display: none;

      &:not(:first-of-type) {
        display: block;
      }
    }
  }
}

@media (min-width: 1280px) {
  ul.dev-logos {
    gap: 2rem;
  }
}

.blob-1 {
  position: absolute;
  width: 400px;
  right: 100px;
  margin-top: 3em;
  opacity: 0.33;
  z-index: 1;
}

@media (max-width: 900px) {
  .content div:last-of-type {
    width: 100%;
  }

  .memoji {
    width: 45%;
    max-width: 260px;
  }

  .content span {
    font-size: 22px;
  }
}

@media (max-width: 640px) {
  .content {
    flex-direction: column;
  }

  .content span {
    text-align: center;
    font-size: 18px;
  }

  .memoji {
    width: 60%;
  }

  ul.dev-logos li img {
    width: 56px;
  }
}
