<h1>About</h1>
<div class="content">
  <div class="memoji">
    <img src="./assets/img/memoji.png" alt="memoji" />
  </div>
  <div>
    <span class="pb-8">
      Creative and detail-driven professional with extensive experience crafting
      visually compelling digital experiences. Expertise in leading
      cross-functional teams to deliver high-quality products that exceed client
      expectations. Skilled in conducting user research, and leveraging
      data-driven insights to inform and enhance design strategies. Passionate
      about transforming customer needs into innovative design solutions that
      achieve complete satisfaction.
    </span>

    <ul class="dev-logos">
      <li class="html">
        <img src="./assets/svg/logo/html-5.svg" alt="HTML5" />
        <img src="./assets/svg/logo/html-5-color.svg" alt="HTML5" />
        <span>HTML5</span>
      </li>
      <li class="css">
        <img src="./assets/svg/logo/css-3.svg" alt="CSS3" />
        <img src="./assets/svg/logo/css-3-color.svg" alt="CSS3" />
        <span>CSS3</span>
      </li>
      <li class="sass">
        <img src="./assets/svg/logo/sass.svg" alt="Sass" />
        <img src="./assets/svg/logo/sass-color.svg" alt="Sass" />
        <span>Sass</span>
      </li>
      <li class="angular">
        <img src="./assets/svg/logo/angular.svg" alt="Angular" />
        <img src="./assets/svg/logo/angular-color.svg" alt="Angular" />
        <span>Angular</span>
      </li>
      <li class="react">
        <img src="./assets/svg/logo/react.svg" alt="React" />
        <img src="./assets/svg/logo/react-color.svg" alt="React" />
        <span>React</span>
      </li>
      <li class="typescript">
        <img src="./assets/svg/logo/typescript.svg" alt="TypeScript" />
        <img src="./assets/svg/logo/typescript-color.svg" alt="TypeScript" />
        <span>TypeScript</span>
      </li>
      <li class="javascript">
        <img src="./assets/svg/logo/javascript.svg" alt="JavaScript" />
        <img src="./assets/svg/logo/javascript-color.svg" alt="JavaScript" />
        <span>JavaScript</span>
      </li>
      <li class="npm">
        <img src="./assets/svg/logo/npm.svg" alt="npm" />
        <img src="./assets/svg/logo/npm-color.svg" alt="npm" />
        <span>npm</span>
      </li>
      <li class="aws">
        <img src="./assets/svg/logo/amazon-web-services.svg" alt="AWS" />
        <img src="./assets/svg/logo/amazon-web-services-color.svg" alt="AWS" />
        <span>AWS</span>
      </li>
      <li class="azure">
        <img src="./assets/svg/logo/azure.svg" alt="Azure" />
        <img src="./assets/svg/logo/azure-color.svg" alt="Azure" />
        <span>Azure</span>
      </li>
      <li class="mongodb">
        <img src="./assets/svg/logo/mongo.svg" alt="MongoDB" />
        <img src="./assets/svg/logo/mongo-color.svg" alt="MongoDB" />
        <span>MongoDB</span>
      </li>
      <li class="docker">
        <img src="./assets/svg/logo/docker.svg" alt="Docker" />
        <img src="./assets/svg/logo/docker-color.svg" alt="Docker" />
        <span>Docker</span>
      </li>
    </ul>
  </div>
</div>
